<!--STANDARD APPROACH-->
<div class="rounded-md shadow overflow-hidden max-w-56">
    <button class="flex w-full min-w-40 items-center gap-2 px-5 py-2 text-left 
                 bg-[#433352] text-[#c3b3d1] cursor-pointer hover:bg-[#9965dd] hover:text-[#150722] 
                 active:bg-[#9965dd] active:text-[#150722] [&.active]:bg-[#9965dd] 
                 [&.active]:text-[#150722]"
            (click)="onSelectUser()">
        <img class="w-8 h-8 object-contain rounded-full shadow-[0_1px_8px_rgba(0,0,0,0.3)]" 
             [src]="imagePath" [alt]="user.name">
        <span class="m-0 p-0 text-[0.8rem] font-normal">{{ user.name }}</span>
    </button>
</div> 

<!--SIGNAL APPROACH-->
<!-- <div class="rounded-md shadow overflow-hidden max-w-56">
    <button class="flex w-full min-w-40 items-center gap-2 px-2 py-[0.35rem] text-left 
                 bg-[#433352] text-[#c3b3d1] cursor-pointer hover:bg-[#9965dd] hover:text-[#150722] 
                 active:bg-[#9965dd] active:text-[#150722] [&.active]:bg-[#9965dd] 
                 [&.active]:text-[#150722]"
            (click)="onSelectUser()">
        <img class="w-8 h-8 object-contain rounded-full shadow-[0_1px_8px_rgba(0,0,0,0.3)]" 
             [src]="imagePath()" [alt]="name()">
        <span class="m-0 p-0 text-[0.8rem] font-normal">{{ name() }}</span>
    </button>
</div>  -->