<main class="bg-gradient-to-b from-black via-black to-purple-950 h-screen w-screen">
  <div class="w-9/10 h-8 max-w-[50rem] mb-10 mx-auto grid grid-flow-row gap-8">
    <app-header/>
    <div class="flex w-9/10">
      <ul id="users" class="list-none m-0 mr-5 p-0 flex flex-col gap-2">
        <li>
          <app-user [user]="users[0]"
                    (select)="onSelectUser($event)"/>
        </li>
        <li>
          <app-user [user]="users[1]"
                    (select)="onSelectUser($event)"/>
        </li>
        <li>
          <app-user [user]="users[2]"
                    (select)="onSelectUser($event)"/>
        </li>
        <li>
          <app-user [user]="users[3]"
                    (select)="onSelectUser($event)"/>
        </li>
      </ul>
      <app-tasks [name]="selectedUser ? selectedUser.name : ''"></app-tasks>
    </div>
  </div>
    
<router-outlet />
