<app-card>
    <article class="p-4 rounded-md text-[#25113d] bg-[#bf9ee5]">
        <h2 class="m-0 text-xl font-bold">{{ task.title }}</h2>
        <time datetime="" class="text-[#3c2c50]">{{ task.dueDate | date: 'fullDate' }}</time>
        <p>{{ task.summary }}</p>
        <p class="m-0 text-right">
            <button class="
                cursor-pointer
                rounded
                border-none
                bg-[#380774]
                px-6
                py-2
                text-[0.9rem]
                text-[#decdf2]
                shadow-[0_1px_3px_rgba(0,0,0,0.3)]
                transition-all
                duration-300
                ease-in-out
                hover:bg-[#4a0774]
                hover:shadow-[0_1px_6px_rgba(0,0,0,0.3)]
                active:bg-[#4a0774]
                active:shadow-[0_1px_6px_rgba(0,0,0,0.3)]" 
                (click)="onCompleteTask()">Complete
            </button>
        </p>
    </article>
</app-card>